{% extends 'base.html.twig' %}
{% block body %}

        <!-- blog -->
        <section class="wthree-row py-5">
            <div class="container py-xl-5 py-lg-3">
                <div class="row">
                    <div class="col-lg-8 blog-left-content">

                        {% for m in list  %}
                        <div class="creatives-grid">
                            <a href="{{ path('activity_activity_single_display',{'id':m.id}) }}">
                                <img src="/uploads/images/products/{{ m.image }}" alt=" " class="img-fluid" />
                            </a>
                            <div class="p-mask img-thumbnail">
                                <h4><a href="{{ path('activity_activity_single_display',{'id':m.id}) }}">{{ m.title }}</a></h4>
                                <span class="let mt-3">{{ m.dateact|date }}</span>
                                <hr>
                                <a class="btn button-style-w3ls mt-4" href="{{ path('activity_activity_single_display',{'id':m.id}) }}">Read More</a>
                                <div style="float: right;"> <span style="margin-right: 5px">{{ m.nbvue }}</span>
                                    <img src="{{ asset('images/eye.svg') }}" alt=" " style="width: 24px;height: 24px; float: right;"/>
                                </div>

                            </div>
                        </div>
                        {% endfor %}
                        <div class="navigation">
                            {{ knp_pagination_render(list) }}
                        </div>
                    </div>
                    <div class="col-lg-4 blog-sldebar-right mt-lg-0 mt-5">
                        <div class="single-gd">
                            <img src="images/b4.jpg" class="img-fluid" alt="">
                            <h4>Sign up to our newsletter</h4>
                            <form action="#" method="post">
                                <input type="email" name="Email" placeholder="Email" required="">
                                <button type="submit" class="btn">Subscribe</button>
                            </form>
                        </div>
                        <div class="single-gd tech-btm">
                            <h4>les plus regardé </h4>
                            {% for l in mostviewed %}
                                <div class="blog-grids">
                                    <div class="blog-grid-left">
                                        <a href="{{ path('activity_activity_single_display',{'id':l.id}) }}">
                                            <img src="/uploads/images/products/{{ l.image }}" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="blog-grid-right">
                                        <h5>
                                            <a href="{{ path('activity_activity_single_display',{'id':l.id}) }}">{{ l.Title }}</a>
                                        </h5>
                                        {{ l.Description|raw }}
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="single-gd tech-btm">
                            <h4>les plus aimé </h4>
                            {% for li in mostliked %}
                                <div class="blog-grids">
                                    <div class="blog-grid-left">
                                        <a href="{{ path('activity_activity_single_display',{'id':li.id}) }}">
                                            <img src="/uploads/images/products/{{ li.image }}" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                    <div class="blog-grid-right">
                                        <h5>
                                            <a href="{{ path('activity_activity_single_display',{'id':li.id}) }}">{{ li.title }}</a>
                                        </h5>
                                        {{ li.description|raw  }}
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="single-gd">
                            <h4>List group</h4>
                            <ul class="list-group">
                                <li class="list-group-item active">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- //blog -->

        <!-- more -->
        <section class="blog_w3ls py-5" id="more">
            <div class="container py-xl-5 py-lg-3">
                <h3 class="tittle mb-sm-5 mb-4">Les plus notés</h3>
                <div class="row">
                    <!-- blog grid -->
                    {% for r in mostrated %}
                    <div class="col-lg-4 col-md-6 mt-4">
                        <div class="med-blog">
                            <div class="blog-header">
                                <a href="{{ path('activity_activity_single_display',{'id':r.id}) }}">
                                    <img class="img-fluid" src="/uploads/images/products/{{ r.image }}" alt="image">
                                </a>
                            </div>
                            <div class="blog-body bg-wh p-4">
                                <span>{{ r.datecreation }}</span>
                                <a href="{{ path('activity_activity_single_display',{'id':r.id}) }}" class="blog-title">{{ r.title }}</a>
                                <p>{{ r.description[:100] ~ '...'  }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- //blog grid -->
                    {% endfor %}

                </div>
            </div>
        </section>
        <!-- //more -->





{% endblock %}